/* Other rules */
* {
  box-sizing: border-box;
}
header {
  height: 50px;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
  height: 47px;
  object-fit: cover;
}

header input {
  height: 20px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 10px;
  width: 500px;
}

header button {
  width: 150px;
  height: 30px;
}

.banner {
  height: 460px;
  overflow: hidden;
  object-fit: cover;
}

.offers {
  height: 360px;
  width: 240px;
  object-fit: cover;
}
