/* Other rules */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: auto;
}

body {
  background-color: #ffffff;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
  height: 47px;
  object-fit: cover;
  border: none;
}

header input {
  height: 20px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 3px;
  width: 700px;
  margin-left: 5px;
}

header button {
  width: 150px;
  height: 30px;
}

.logout {
  background-color: #ff495f;
  color: white;
  border-radius: 5px;
  border: none;
}

.sell {
  background-color: #09aeb7;
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: 7px;
}

.signup {
  background-color: white;
  border: solid 1px #09aeb7;
  color: #09aeb7;
  border-radius: 5px;
}

.login {
  background-color: #09aeb7;
  border: solid 1px #09aeb7;
  color: white;
  border-radius: 5px;
  margin-left: 7px;
}

.banner img {
  height: 615px;
  width: 1450px;
  object-fit: cover;
}

.offers {
  height: 360px;
  width: 240px;
  object-fit: cover;
}

.home-products {
  margin: 10px;
  margin-bottom: 20px;
}

.home-products img {
  margin-top: 5px;
}

.home-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #c2bdb8;
  text-decoration: none;
}

.user {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2px;
  color: #c2bdb8;
}

.home-price {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.home-brand {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2px;
  color: #c2bdb8;
}

.product-page {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ebedee;
  width: 90%;
  padding: 100px;
}

.product-informations {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.product-informations h1 {
  font-size: 24px;
  margin-bottom: 150px;
  margin-top: 5px;
  margin-left: 5px;
  border-bottom: #cccccc solid 1px;
  padding-bottom: 50px;
}

.product-informations li {
  margin-bottom: 10px;
  margin-left: 10px;
}

.product-user {
  color: #cccccc;
  margin-bottom: 20px;
  border-top: solid 1px #cccccc;
}

.informations {
  color: gray;
}

.product-product-name {
  font-size: large;
  margin-top: 100px;
  margin-bottom: 10px;
}

.product-page img {
  object-fit: cover;
}

.product-page button {
  border-radius: 5px;
  border: none;
  background-color: #09aeb7;
  border: solid 1px #09aeb7;
  color: white;
  width: 150px;
  height: 30px;
  margin-left: 135px;
}

.signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-form input {
  width: 270px;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}

.signup-form h1 {
  margin-left: 90px;
  font-size: larger;
}

.submit-button {
  border-radius: 5px;
  border: none;
  background-color: #09aeb7;
  border: solid 1px #09aeb7;
  color: white;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  font-family: Arial, Helvetica, sans-serif;
}

.login-form input {
  width: 270px;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}

.login-button {
  border-radius: 5px;
  border: none;
  background-color: #09aeb7;
  border: solid 1px #09aeb7;
  color: white;
}

.publish-form {
  border: solid;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.upload {
  width: 1300px;
  height: 250px;
  border: springgreen 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.publish-title-description {
  border: steelblue 1px solid;
  display: flex;
  flex-direction: column;
}

.title-description {
}

.publish-form input {
}
